<% if @books.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    	<%= @books.errors.count %>errors prohibited this obj from being saved:
      <% @books.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div style="margin-bottom:110px"></div>
<div class="col-md-offset-1 col-md-7">

	<h1>Editing Book</h1>

	<%= form_for(@books) do |f| %>
	<h3>Title</h3>
	<%= f.text_field :title, :size=>"110"%>

	<h3>Opinion</h3>
	<%= f.text_field :body, :size=>"110"%><br>

	<div style="margin-bottom:40px"></div>

	<%= f.submit 'Update Book', class:"btn btn-primary btn-lg btn-block"%>

	<%= link_to "Show", book_path(@books.id),class:"btn btn-link" %>

	<%= link_to "Back", books_path,class:"btn btn-link" %>
</div>

<% end %>